body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1::selection, h2::selection, h3::selection, h4::selection{
    background-color: darkred;
}

p::selection {
    color: red;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "banner"
        "cursos"
        "depoimentos"
        "footer";
    grid-template-rows: auto 1fr auto;
}

.header {
    grid-area: header;
    background-color: #4CAF50;
    padding: 20px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}

.navegacao {
    
    ul{
        font-size: large;
        display: flex;
        list-style-type: none;
        gap: 15px;
    }

    a{
        text-decoration: none;
        color: white;
    }

    a:hover{
        color: white;
        border-bottom: white solid 1px;
        transition: 0.3s;
    }
}

.banner {
    grid-area: banner;
    background: url(img/banner.jpg) top/cover no-repeat;
    text-align: center;
    padding: 80px 20px;
    color: white;

    h1, p{
        text-shadow: 4px 4px 4px black;
        filter: drop-shadow(4px 4px 4px black);
    }
}

.cursos {
    grid-area: cursos;
    padding: 20px;
    text-align: center;

    h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
}

.grid-cursos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.curso-disponivel {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.curso-disponivel img {
    max-width: 100%;
    max-height: 150px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 10px;
}

.curso-disponivel p {
    color: #777;
}

p.valor {
    font-weight: bold;
    color: black;
}

.curso-disponivel:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

button {
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    transition: 0.5s;
    background-color: #41b645;
    box-shadow: 0 5px 8px rgba(1, 1, 1, 0.8);
}

.depoimentos {
    grid-area: depoimentos;
    padding: 20px;

    text-align: center;
}

.grid-depoimentos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.depoimentos h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 4px 4px 4px #777;
    filter: drop-shadow(4px 4px 4px #777);
}

.depondo {
    background-color: white;
    border: #ddd 1px solid;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    grid-area: footer;
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-container {
    color: white;
    text-align: center;
    padding: 20px;

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: #41b645;
        transition: 0.3s;
        border-bottom: #41b645 1px solid;
    }

    p{
        margin-bottom: 20px;
    }
}


@media (max-width: 600px) {
    .header {
        text-align: center;
        flex-direction: column;
    }

    .header .navegacao {
        text-align: center;
        
        ul{
            padding: 0;
        }
    }

    .curso-disponivel img {
        max-width: 100%;
        max-height: 100px;
    }
}